body{
    background-color: #328cc5;
    font-family: "Poppins", sans-serif;
}

.italic{
    font-weight: 400;
    font-style: italic;
}

.welcome{
    font-weight: 300;
    text-align: center;
    font-size: 45px;

}
    .welcome span{
        font-weight: 400;
    }